/* main part */

body {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    border-radius: 10px;
    background-color: #e8d7c4;
    color: #5c4b44;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


/* 1st layer */

.background-one {
    background-color: #5c4b44;
    margin: 0;
    padding: 0;
    padding-bottom: 64px;
}

.layout-one {
    padding: 0% 20%;
    padding-top: 0;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px 0;
    flex-grow: 0;
    gap: 70%;
}


.logo img{
    max-width: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    display: block;
    border-radius: 10px;
}

li img {
    max-width: 100px;
    width: 40px;
    height: 40px;
    display: block;
}


ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 16px;
}

.main-text{
    font-family: Lobster;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 360px;
}

.secondary-text{
    font-size: 18px;
    color: #f9faf8;
    max-width: 360px;
}
.main-image {
    max-width: 480px;
    display: block;
    flex-shrink: 0;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}


/* 2nd layer */

.background-two {
    background-color: #f9faf8;
}

.layout-two {
    padding: 0% 25%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 64px 200px;
}

.two-main-text {
    font-family: Lobster;
    font-size: 48px;
    font-weight: bolder;
    color: #5c4b44;
    margin-bottom: 16px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info > img {
    border-radius: 20%;
    border: 8px solid #f8d0a1;
    overflow: hidden;
    max-width: 200px;
    width: 300px;
    height: 200px;
    display: block;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 200px;
}

.text {
    font-size: 18px;
    color: #1f2937;
}

/* 3rd layer */

.background-three {
    background-color: #bcb3a4;
    padding: 64px;
}

.layout-three {
    padding: 0% 20%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 24px;
}

.layout-three > p {
    font-style: italic;
    font-size: 24px;
    max-width: 250px;
}

/* 4th layer */

.background-four {
    background-color: #f9faf8;
}

.layout-four {
    padding: 0% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 200px;
    flex-grow: 1;
}

.card {
    background: #f9faf8;
    width: 700px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    margin: 32px;
    padding: 32px 130px;
    gap: 80px;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-main-text {
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.card-secondary-text {
    font-size: 16px;
    text-align: left;
}

button.card-button {
    background-color: #e8d7c4;
    border-radius: 10px;
    border: 3px solid #5c4b44;
    color: #5c4b44;
    padding: 5px 40px;
    margin: 0 10px;
}

/* footer */


.footer {
    height: 72px;
    background: #5c4b44;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
}
