/* main part */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    border-radius: 10px;
    background-color: #e8d7c4;
    color: #5c4b44;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


/* 1st part */

.one {
    display: flex;
    flex-direction: column;
    background-color: #5c4b44;
    flex-grow: 1;
    padding: 0 200px;
    flex-wrap: nowrap;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.logo img{
    max-width: 100px;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 10px;
}

li img {
    max-width: 100px;
    width: 40px;
    height: 40px;
    display: block;
}


ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 32px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 16px;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 360px;
}

.secondary-text{
    font-size: 18px;
    color: #f9faf8;
    max-width: 360px;
}
.main-image {
    max-width: 480px;
    display: block;
    flex-shrink: 0;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}


/* 2nd part */

.two {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
    padding: 32px 200px;
}

.two-title {
    font-size: 48px;
    font-weight: bolder;
    color: #5c4b44;
    margin-bottom: 16px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info > img {
    border-radius: 10px;
    border: 5px solid #f8d0a1;
    overflow: hidden;
    max-width: 200px;
    width: 300px;
    height: 200px;
    display: block;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 200px;
}

.text {
    font-size: 18px;
    color: #1f2937;
}

/* 3rd part */

.three {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    background-color: #bcb3a4;
    padding: 32px 200px;
    gap: 32px;
}

.three > p {
    font-style: italic;
    font-size: large;
    max-width: 250px;
}

/* 4th part */

.four {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 72px;
    background: #5c4b44;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
  }